{% extends 'base.html.twig' %}

{% block title %}Edit Developper{% endblock %}

{% block body %}
    <h1>Edit Developper</h1>

    {{ include('developper/_form.html.twig', {'button_label': 'Update'}) }}
    <a href="{{ path('app_developper_index') }}">back to list</a>

{% endblock %}
