{% extends 'base.html.twig' %}

{% block title %}Edit Developper{% endblock %}

{% block body %}
    <h1>Edit Developper</h1>

    {{ include('developper/_form.html.twig', {'button_label': 'Update'}) }}
    <a href="{{ path('app_developper_index') }}">back to list</a>
    <a href="{{ path('app_user_edit_role', {'id': developper.id}) }}" class="btn btn-secondary mt-3">Add Role</a>

{% endblock %}
