{% extends 'base.html.twig' %}

{% block title %}New Queries{% endblock %}

{% block body %}
    <h1>Create new Queries</h1>

    {{ include('queries/_form.html.twig') }}

    <a href="{{ path('app_queries_index') }}">back to list</a>
{% endblock %}
