{# templates/error/error.html.twig #}
{% extends 'base.html.twig' %}
{% block title %}Page non trouvée{% endblock %}
{% block body %}
<div class="container mt-5">
    <h1 class="text-center">Oups!</h1>
    <p class="text-center">Cette page n'existe pas.</p>
    <div class="text-center mt-3">
        <a href="{{ path('app_home') }}" class="btn btn-primary">Retour à l'accueil</a>
    </div>
</div>
{% endblock %}
