{% extends 'base.html.twig' %}

{% block title %}Developpeur index{% endblock %}

{% block body %}
<h1>Community</h1>
<div class="container">
  <div class="row">
    {% for user in users %}
      <div class="col-md-4 mb-3">
        <div class="card h-100"style="background: rgb(0, 250, 154, 0.15);">
          <div class="card-body d-flex flex-column">
            <div class="row mb-3">
              <div class="col-6" >
              <div class="row">
                <h4>Name</h4>
                <p>{{ user.name }}</p>
                <h4>LastName</h4>
                <p>{{ user.lastname }}</p>

              </div>
              </div>
              <div class="col-6">
                <h4>Photo</h4>
                <img src="{{ asset('uploads/images/' ~ user.photo) }}" alt="..." style="width: 100% ; ">
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
